html, body {
  height: 100%;
}

body {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type=email] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type=password] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

html, body {
  height: 100%;
}

.from-signin form label, .from-signin form h1 {
  text-align: left;
}
.from-signin form .roomSelect {
  margin-bottom: 10px;
}
.from-signin form.timeSelect {
  margin-bottom: 10px;
}

.wrapper {
  margin-top: 60px;
}
